<!DOCTYPE html>
<html lang="en">
<head>
    <title>Aurora for MySQL Instance Monitoring Registration</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/custom.css"> <!-- 별도의 CSS 파일 -->
</head>
<body>
    <h2 id="heading">Aurora for MySQL Instance Monitoring Registration</h2>
    <main id="content">
        <section id="instanceList">
            <h2>Registered Instances</h2>
            <table id="instanceTable">
                <thead>
                    <tr>
                        <th>Region</th>
                        <th>Cluster Name</th>
                        <th>Instance Name</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 동적 내용 -->
                </tbody>
            </table>
        </section>
        <br>
        <h2>Add Instance</h2>
        <form class="form" id="rdsForm">
            <div class="field">
                <label for="cluster_name">Cluster Name:</label>
                <input class="input-field" type="text" id="cluster_name" name="cluster_name">
            </div>
            <div class="field">
                <label for="instance_name">Instance Name:</label>
                <input class="input-field" type="text" id="instance_name" name="instance_name" required>
            </div>
            <div class="field">
                <label for="host">Host:</label>
                <input class="input-field" type="text" id="host" name="host" required>
            </div>
            <div class="field">
                <label for="port">Port:</label>
                <input class="input-field" type="number" id="port" name="port" placeholder="3306">
            </div>
            <div class="field">
                <label for="region">Region:</label>
                <input class="input-field" type="text" id="region" name="region" placeholder="ap-northeast-2">
            </div>
            <div class="field">
                <label for="user">User:</label>
                <input class="input-field" type="text" id="user" name="user" required>
            </div>
            <div class="field">
                <label for="password">Password:</label>
                <input class="input-field" type="password" id="password" name="password" required>
            </div>
            <br>
            <button type="submit" class="button4" id="Submit">
                <span class="circle1"></span>
                <span class="circle2"></span>
                <span class="circle3"></span>
                <span class="circle4"></span>
                <span class="circle5"></span>
                <span class="text">Submit</span>
            </button>
        </form>
    </main>
    <footer>
        <p id="copyright-info">Designed by <span id="author"></span> &copy; <span id="copyright-year"></span></p>
    </footer>
    <script src="/js/formHandler.js"></script> <!-- 별도의 JavaScript 파일 -->
    <script>
        const pageInfo = {
            author: "DBRE & DA \"Tei\"",  // 작성자
            copyrightYear: "2023-12-01" // 만든 날짜
        };
        document.getElementById("author").textContent = pageInfo.author;
        document.getElementById("copyright-year").textContent = pageInfo.copyrightYear;
    </script>
</body>
</html>
